# elisp byte code
*.elc

# recovery and backup directories
auto-save-list/
backups/

# personal user config/customization files
config
ignore-customizations.el

# lsp related files & directories
.cache/
.extension/
eclipse.jdt.ls/
workspace/
.dap-breakpoints
.lsp-session-v1

# other directories
transient/

# other files
.org-id-locations
bookmarks
projectile-bookmarks.eld
recentf
tramp